<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="64a5482f-ea4b-4a71-abc9-afa7a2d48b29" wadlVersion="http://wadl.dev.java.net/2009/02" name="Storefront API for product and category interactions" type="rest" basePath="/nathanSmartbear/storefrontAPI/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:description>This is an API to build our products, categories and pricing.</con:description><con:settings><con:setting id="64a5482f-ea4b-4a71-abc9-afa7a2d48b29fileName">Storefront-API-for-product-and-category-interactions</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://localhost:8088/</con:endpoint><con:endpoint>http://virtserver.swaggerhub.com</con:endpoint><con:endpoint>https://virtserver.swaggerhub.com</con:endpoint></con:endpoints></con:interface>