<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="8c891bd6-4b39-4b15-a3f6-ea788cb8992a" wadlVersion="http://wadl.dev.java.net/2009/02" name="twilio" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="8c891bd6-4b39-4b15-a3f6-ea788cb8992afileName">twilio</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://api.twilio.com</con:endpoint></con:endpoints><con:environmentSpec><con:entry environmentId="Default"><con:authProfile>twilioLogin</con:authProfile></con:entry></con:environmentSpec></con:interface>