<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="3071c07f-b200-40be-9f1e-30bf8446cff4" wadlVersion="http://wadl.dev.java.net/2009/02" name="nameGenerator" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="3071c07f-b200-40be-9f1e-30bf8446cff4fileName">nameGenerator</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://uinames.com</con:endpoint></con:endpoints></con:interface>