<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="777482ee-5212-4ab0-a659-6e4b3a230ecd" wadlVersion="http://wadl.dev.java.net/2009/02" name="Storefront API for product and category interactions" type="rest" basePath="/nathanSmartbear/storefrontAPI/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:description>This is an API to build our products, categories and pricing.</con:description><con:settings><con:setting id="777482ee-5212-4ab0-a659-6e4b3a230ecdfileName">Storefront-API-for-product-and-category-interactions1</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://localhost:8089/</con:endpoint><con:endpoint>http://virtserver.swaggerhub.com</con:endpoint><con:endpoint>https://virtserver.swaggerhub.com</con:endpoint></con:endpoints></con:interface>