<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="32eb4c3a-f48c-4576-9176-afba2c5bcc0e" name="twilio TestSuite" authProfile="twilioLogin" xmlns:con="http://eviware.com/soapui/config"><con:description>TestSuite generated for REST Service [twilio]</con:description><con:settings><con:setting id="32eb4c3a-f48c-4576-9176-afba2c5bcc0efileName">twilio-TestSuite</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>