<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="87137188-f555-49e1-8b47-66fb6877f30a" wadlVersion="http://wadl.dev.java.net/2009/02" name="mbta" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="87137188-f555-49e1-8b47-66fb6877f30afileName">mbta</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://realtime.mbta.com</con:endpoint></con:endpoints></con:interface>