<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="c5aac9bd-1349-44f1-a00c-32f53e755b83" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://localhost:8084" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="c5aac9bd-1349-44f1-a00c-32f53e755b83fileName">http%3A%2F%2Flocalhost%3A8084</con:setting></con:settings><con:definitionCache/><con:endpoints><con:endpoint>http://localhost:8084</con:endpoint></con:endpoints></con:interface>