<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="d8c29b07-696b-4f7b-b85e-3762958ae539" wadlVersion="http://wadl.dev.java.net/2009/02" name="owlbotDictionary" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="d8c29b07-696b-4f7b-b85e-3762958ae539fileName">owlbotDictionary</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://localhost:8080/</con:endpoint><con:endpoint>http://localhost:8088/</con:endpoint><con:endpoint>https://owlbot.info</con:endpoint></con:endpoints></con:interface>