<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b7231463-eb92-4922-a064-484adc82bba2" name="http://localhost:8084 TestSuite" xmlns:con="http://eviware.com/soapui/config"><con:description>TestSuite generated for REST Service [http://localhost:8084]</con:description><con:settings><con:setting id="b7231463-eb92-4922-a064-484adc82bba2fileName">http%3A%2F%2Flocalhost%3A8084-TestSuite</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>