<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="0d344596-1632-4e58-a440-23a5b1ea561b" wadlVersion="http://wadl.dev.java.net/2009/02" name="cardsAgainstHumanity" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="0d344596-1632-4e58-a440-23a5b1ea561bfileName">cardsAgainstHumanity</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://cardsagainsthumanity-api.herokuapp.com</con:endpoint></con:endpoints></con:interface>