<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="8b772fbc-5b68-43d3-8582-0ff369e3725e" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://localhost:8012" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="8b772fbc-5b68-43d3-8582-0ff369e3725efileName">http%3A%2F%2Flocalhost%3A8012</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://localhost:8081</con:endpoint></con:endpoints></con:interface>