<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="1957b0f2-2c95-4388-9d59-bae99f05fe0b" name="AWSECommerceServiceBinding TestSuite" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="1957b0f2-2c95-4388-9d59-bae99f05fe0bfileName">AWSECommerceServiceBinding-TestSuite</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties><con:property><con:name>awsKey</con:name><con:value>029f5426-cd0d-4cbe-ab24-366df91bb2ac</con:value></con:property></con:properties><con:reportParameters/></con:testSuite>